# Entornos virtuales
venv/
env/
.venv/
venv*/
ENV/
env.bak/
.venv.bak/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos de desarrollo y IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos de instalación y distribución
*.egg-info/
*.egg
dist/
build/
pip-wheel-metadata/
*.dist-info/
*.manifest
*.spec

# Archivos de caché y logs
*.log
*.cache
*.pot
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Archivos de entorno
.env
.venv
.env.local
.env.development
.env.test
.env.production

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Jupyter Notebook
.ipynb_checkpoints/

# Archivos de SQLite
*.sqlite
*.db

# Archivos temporales
*.tmp
*.bak
*~

# Archivos SQL GEnerados
content/fintech-accelator/data/sql/04-FINTECH-CLIENTS.sql
content/fintech-accelator/data/sql/05-FINTECH-ISSUERS.sql
content/fintech-accelator/data/sql/06-FINTECH-FRANCHISES.sql
content/fintech-accelator/data/sql/07-FINTECH-MERCHANT_LOCATIONS.sql
content/fintech-accelator/data/sql/08-FINTECH-CREDIT_CARDS.sql
content/fintech-accelator/data/sql/09-FINTECH-TRANSACTIONS.sql
content/fintech-accelator/data/sql/Bulk-Load/
content/fintech-accelator/data/sql/FK-Values/FK-FINTECH-CLIENTS.txt
content/fintech-accelator/data/sql/FK-Values/FK-FINTECH-CREDIT_CARDS.txt
content/fintech-accelator/data/sql/FK-Values/FK-FINTECH-ISSUERS.txt
content/fintech-accelator/data/sql/SQL-Data/content/fintech-accelator/data/sql/SQL-Data.zip
content/fintech-accelator/data/sql/SQL-Data.zip
content/fintech-accelator/data/sql/SQL-Data

content/fintech-accelator/scripts/pipelines/create-fake-data/reproduce_transactions/